.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
}
.app__header {
  display: flex;
  justify-content: space-between;
  max-height: 200px;
  z-index: 1;
  background-color: antiquewhite;

}

.app__header--left {
  display: flex;
}

.app__content-wrapper {
  background-color: aqua;
  align-self: center;
  width: 800px;
  height: inherit;
  overflow-y: scroll;
}
.app__content {
  align-self: center;
  order: 2;
}
.app__footer {
  width: 800px;
  align-self: center;
}
