.App {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
}


.price-duration-input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.table-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top:20px;
}



.rcf-table-container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 100px;
  padding:20px;
}

.bl-table-container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 100px;
  padding:20px;
}
